<section class="our-story center">
   <div class="image-container">
      <img src="assets/chefs/founder.jpg" alt="founder of the pastry shop">
   </div>

   <div class="our-story-content">
      <h2 class="title">Our Story</h2>
      <div class="text">
         <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam quod, animi facere quia ducimus doloremque est
            vitae magni repellendus vero eum provident velit cupiditate mollitia quas, beatae nulla excepturi dolor.
            Consequatur, obcaecati. Ipsum minus ipsa eaque optio. Dignissimos eveniet facilis, atque vitae quasi aspernatur
            labore fugiat recusandae aliquam veniam libero autem. Ad ipsa soluta blanditiis optio saepe ut, ex deserunt. Lorem ipsum dolor sit amet.
         </p>
         <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut, harum rerum. Dolore fugiat harum et perspiciatis
            esse laudantium consequuntur, vel tempora ad neque numquam quidem sapiente dolorem ducimus non. Iusto totam
            sint ullam dolor ipsum praesentium, quas natus quia veritatis est, ipsa reiciendis explicabo ipsam rerum
            dolorem illum enim fugit quidem labore facilis deleniti sapiente! Omnis expedita laboriosam magni, debitis ex
            culpa, ratione libero alias consectetur quisquam tempore reprehenderit cumque aliquid.
         </p>
      </div>
   </div>
</section>