<section class="pros-container">
   <div class="pros center">
      <div class="pro">
         <i class="fas fa-truck fa-2x"></i>
         <h4 class="title">Fast Shipping & Delivery</h4>
         <p>
            We process and ship out most orders on the same day and offer same-day delivery for local orders.
         <p>
      </div>
      <div class="pro">
         <i class="fas fa-leaf fa-2x"></i>
         <h4 class="title">Fresh and Natural Ingredients</h4>
         <p>
            We use only the freshest and most flavorful natural ingredients seasonally available when preparing our
            pastries and baked goods.
         <p>
      </div>
      <div class="pro">
         <i class="fas fa-user-shield fa-2x"></i>
         <h4 class="title">Covid-19 Measures</h4>
         <p>
            Our pastry shop is always immaculately clean and well maintained. We have ensured that all areas are deep cleaned and sanitised using antiviral sanitiser. Tables are positioned in accordance with social distancing rules.
         <p>
      </div>
   </div>
</section>