<header>
   <nav class="center">
      <div class="logo">
         <img src="../../assets/logo.png" alt="logo">
      </div>
      <div class="menu">
         <button class="nav-button" mat-button routerLink="/">Home</button>
         <button class="nav-button" mat-button routerLink="/about-us">About Us</button>
         <button class="nav-button" mat-button routerLink="/products">Order Online</button>
         <button class="nav-button" mat-button routerLink="/reviews">Reviews</button>
         <button class="nav-button" mat-button [matMenuTriggerFor]="profile">Profile</button>
         <mat-menu #profile="matMenu">
            <ng-container *ngIf="!isSignedIn;else ifSignedIn">
               <button class="nav-button" mat-menu-item routerLink="/auth/sign-in">Sign In</button>
               <button class="nav-button" mat-menu-item routerLink="/auth/sign-up">Sign Up</button>
            </ng-container>
            <ng-template #ifSignedIn>
               <button class="nav-button" mat-menu-item (click)="signOut()">Sign Out</button>
            </ng-template>
         </mat-menu>
         <span class="cart" *ngIf="isSignedIn">
            <i matBadgeSize="small" matBadge={{cartProducts}} matBadgeColor="warn" class="fas fa-shopping-cart" routerLink="/cart"></i>
            <span class="cdk-visually-hidden">
               shopping cart icon
            </span>
         </span>
      </div>
   </nav>
</header>