<section class="new-products center">
   <h1 class="title">What's New</h1>
   <div class="group-new-products">
      <div class="product">
         <div class="image-container">
            <img src="assets/products/product-1.jpg" alt="product-1">
         </div>
         <h3 class="product-name">Product Name</h3>
         <p>
            Lorem ipsum dolor sit amet vitaere consectetur adipisicing elit.Doloribus esse eum quidem elitl vitae.
            Similique, consequuntur soluta doloresez eum delectus distinctio asperiores nesciunt abi alias ad
            suscipit sapiente expedita, porro nullat doloremque provident accusamus sequi? Totam atque modi,
            obcaecati ut rerum beatae.
         </p>
      </div>
      <div class="product">
         <div class="image-container">
            <img src="assets/products/product-2.jpg" alt="product-2">
         </div>
         <h3 class="product-name">Product Name</h3>
         <p>
            Lorem ipsum dolor sit amet vitaere consectetur adipisicing elit.Doloribus esse eum quidem elitl vitae.
            Similique, consequuntur soluta doloresez eum delectus distinctio asperiores nesciunt abi alias ad
            suscipit sapiente expedita, porro nullat doloremque provident accusamus sequi? Totam atque modi,
            obcaecati ut rerum beatae.
         </p>
      </div>
      <div class="product">
         <div class="image-container">
            <img src="assets/products/product-3.jpg" alt="product-3">
         </div>
         <h3 class="product-name">Product Name</h3>
         <p>
            Lorem ipsum dolor sit amet vitaere consectetur adipisicing elit.Doloribus esse eum quidem elitl vitae.
            Similique, consequuntur soluta doloresez eum delectus distinctio asperiores nesciunt abi alias ad
            suscipit sapiente expedita, porro nullat doloremque provident accusamus sequi? Totam atque modi,
            obcaecati ut rerum beatae.
         <p>
      </div>
   </div>
</section>