<footer>
   <div class="follow-us">
      <h3>Follow us</h3>
      <a><i class="fab fa-facebook fa-2x"></i></a>
      <a><i class="fab fa-twitter fa-2x"></i></a>
      <a><i class="fab fa-instagram fa-2x"></i></a>
      <a><i class="fab fa-youtube fa-2x"></i></a>
   </div>
   <section class="details-section">
      <div>
         <h3>Shop Location</h3>
         <p>ul. "William Gladstone" 36</p>
         <p>1000 Sofia Center</p>
      </div>
      <div>
         <h3>Open Hours</h3>
         <p>Monday - Friday</p>
         <p>8:00 - 19:00</p>
         <p>Saturday - Sunday</p>
         <p>10:00 - 18:00</p>
      </div>
      <div>
         <h3>E-mail</h3>
         <p>info@sweet-desires.com</p>
         <p>Georgi.Ivanov@sweet-desires.com</p>
         <p>Ivan.Stefanov@sweet-desires.com</p>
      </div>
      <div>
         <h3>Phone Numbers</h3>
         <p>+359 7184 11 93</p>
         <p>+359 87 8027 553</p>
         <p>+359 87 7122 006</p>
      </div>
   </section>
   <p class="copyright">&copy; 2020 Sweet Desires. All Rights Reserved!</p>
</footer>